#nav-bar {
    height: 80px;
    width: 36%;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    background-color: #00a087;
    padding: 0px 2em 0px 2em;
}

#nav-bar .logo {
  height: 80px;
  width: 80px;
  float: left;
}

#nav-bar .header {
  color: #e8fdff;
  float: left;
  font-size: 200%;
  line-height: 238%;
  margin-left: 10px;
}

#nav-bar button {
  height: 80%;
  width: 120px;
  position: relative;
  top: 10%;
  float: right;
  opacity: 0.85;
  font-size: 22px;
}

#nav-bar button:hover {
  opacity: 1;
}