.new-tweet {
  margin: 2.2em;
  width: 485px;
  border: 1px solid #000000;
  border-radius: 15px;
  padding: 0px 10px 10px 10px;
  position: relative;
  display: none;

  h2 {
    border-bottom: 1px solid #000000;
    padding-bottom: 7px;
    margin: 10px 0px 13px 0px;
  }

  form {
    margin-bottom: 5px;
    }

  textarea {
    width: 465px;
    padding: 5px;
    margin-bottom: 5px;
  }

  input {
    position: relative;
    top: 2px;
  }

  .counter {
    float: right;
    position: relative;
    top: 2px;
  }
}

