<!DOCTYPE html>
<html lang="en">
  <head></head>

  <body>
    <form class="register" method="POST" action="/tweets/register">
      <label for="register">Register: </label>
      <input class="registerField" id="name" type="name" name="name" placeholder="name">
      <input class="registerField" id="handle" type="handle" name="handle" placeholder="@handle">
      <input class="registerButton" type="submit" value="Submit">
    </form>
  </body>
</html>